:root {
    --primary-color: #FF0066;
    /* pink */
    --secondary-color: #D9D9D8;
    /* grey */
    --tertiary-color: #a50042;
    /* darker pink */
}

header {
    background-color: var(--primary-color);
    padding: 5px;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    text-align: right;
}

header h1 {
    background-color: var(--secondary-color);
    padding: 0.5em;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    text-align: left;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: black;
    border: none;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: var(--tertiary-color);
}

main h1 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

main div {
    margin: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
}