{{ define "main" }}
<div class="flex-l mt2 mw8 center">
  <article class="center cf pv5 ph3 ph4-ns mw7">
    <header>
    </header>

    <div class="measure-wide center ph5">
      <div class="page-carousel">
        {{ range .Resources }}
          <div><img src="{{.Permalink}}"></div>
        {{ end }}
      </div>
    </div>

    <h2 class="f3 tc">
      {{ .Title }}
    </h2>

    <div class="nested-copy-line-height lh-copy f4 nested-links tj {{ $.Param " text_color" | default "mid-gray" }}">
      {{ .Content }}
    </div>
  </article>
</div>

<script>
  $('.page-carousel').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 3000,
  });
</script>

{{ end }}
