{{ define "main" }}
<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center lh-copy {{ $.Param " text_color" | default "mid-gray" }}">

  <div class="measure-wide center">
    <h2 class="tj">Free confidential legal advice if you feel that you have been discriminated, harassed, or faced
      violence because
      you are Muslim or were perceived to be Muslim</h2>

    <a class="ba b--black-20 no-underline br3 pa2" href="tel:+16043433828">
      <img class="di-ns v-mid" width="40px" src="/images/call-icon.png" title="Call 604-343-3828"
        alt="Call 604-343-3828">
      <h2 class="dark-gray di-ns v-mid">Call 604-343-3828</h2>
    </a>
  </div>

  <hr>

  <div class="mw9 center ph3-ns">
    <div class="ph2-ns center">
      <div class="w-60 center tj">

        <h3 class="tc">WHAT IS ISLAMOPHOBIA?</h3>

        <p>Islamophobia is defined as a fear of and hostility toward Islam and Muslims that proceed from historical
          Orientalist stereotypes. Islamophobia impacts Muslims and individuals who are perceived as Muslims such as
          Sikhs, Hindus, and Buddhists.</p>

        <p>As a form of religious oppression, Islamophobia also intersects with other systems of oppression such as
          sexism
          and racism. Muslims who are doubly marginalized, such as Muslim women and Black Muslims, are at greater risk
          of
          experiencing Islamophobia. Islamophobia is therefore gendered and racialized.</p>

        <p>Islamophobia manifests at both the individual and institutional level. It can be experienced in the form of
          hate speech, hate crimes, physical attacks, social, political and employment discrimination, and can be used
          to
          rationalize policies such as mass surveillance, incarceration, and disenfranchisement, resulting in the
          marginalization of Muslims.</p>

        <p>If you have experienced any form of Islamophobia and require legal advice, please <a
            href="/contact-us">contact
            us</a>.</p>
      
      </div>

      <div class="fl w-100 pa2 tc">

        {{ partial "instagram-carousel.html" . }}

      </div>

    </div>
  </div>
</article>
{{ end }}