:root {
    --apb-blue: #0aa7c2
}

.apb-blue { color: var(--apb-blue); }

.bg-apb-blue { background-color: var(--apb-blue); }

.bg-beige-gray { background-color: #e6e0dc; }

h1 { color: var(--apb-blue); }
h2 { color: var(--apb-blue); }
h3 { color: var(--apb-blue); }
h4 { color: var(--apb-blue); }
h5 { color: var(--apb-blue); }
h6 { color: var(--apb-blue); }
